body {
	margin: 10px;
	font-size: 11px;
	font-family: arial;
}

th {
  font-size: 11px;
  font-family: arial;
}

td {
  font-size: 11px;
  font-family: arial;  
}

#videoDisplay {
	position: absolute;
	top: 0px;
	right: 0px;
}

#authSection {
	font-size: 13px;
}

#tabs {
}

#assignment {
	height: 700px;
	text-align: left;
}

#videoSubmission {
	height: 700px;
	text-align: left;
}

#photoSubmission {
  height: 700px;
  text-align: left;
}


#configuration {
	text-align: left;
}

#submissionDetailsTemplate {
	font-size: 12px;
	font-family: arial;
}

#photoDetailsTemplate {
  font-size: 12px;
  font-family: arial;
}


#assignmentCreateTemplate {
	font-size: 11px;
	font-family: arial;	
}

#submissionControlPanel {
	text-align: left;	
}

#photoControlPanel {
  text-align: left; 
}

#assignmentControlPanel {
	text-align: left;	
}

.controlButton {
	border: 1px solid lightGray;
	color: gray;
}

.configureLabel,.configureInput {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

.configureLabel {
	text-align: right;
	width: 150px;
	padding-top: 3px;
	padding-right: 25px;
}

div.clear {
	clear: left;
}

.filter {
	font-size: 13px;
	font-weight: bold;
	color: black;
	background: white;	
	width: 80px;
	padding: 5px;
}

.status {
	background: red;
	color: white;	
	padding: 3px;
}

.tip {
  padding-top: 3px;
  padding-left: 6px;
}

fieldset {
  border: 1px solid #2e6e9e;
  width: 600px;
  background: #eaf4fd;
  margin: 20px;
  float: left;
  clear: left;
}

fieldset legend {
  border: 1px solid #2e6e9e;
  background: #eaf4fd;
  padding: 6px;
  margin: 10px;
  font-weight: bold;
  color: #2e6e9e;
}

#saveButton {
  margin-left: 280px;
  width: 150px;
}

#authenticateButton {
  float: right;
  margin-right: 70px;
}

#youTubeUsername {
  float: left;
  margin-top: 3px;
}

#messageContainer {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
}

#messageList {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  padding-right: 15px;
}

.messageListWrapper {
  margin: 0px;
}

.message {
  color: #2e6e9e;
}

.error {
  color: red;
}

#captionTrack {
  margin: 5px;
}

#captionInfo {
  margin-left: 50px;
}