body {
	margin: 10px;
	font-size: 11px;
	font-family: arial;
}

#videoDisplay {
	position: absolute;
	top: 0px;
	right: 0px;
}

#authSection {
	text-align: left;
	font-size: 13px;
}

#tabs {
}

#assignments {
	height: 700px;
	text-align: left;
}

#submissions {
	height: 700px;
	text-align: left;
}

#configuration {
	height: 700px;
	text-align: left;
}


#controlPanel {
	text-align: left;	
}

#assignmentControlPanel {
	text-align: left;	
}

.controlButton {
	border: 1px solid lightGray;
	color: gray;
}

.configureLabel,.configureInput {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

.configureLabel {
	text-align: right;
	width: 150px;
	padding-right: 20px;
}

div.clear {
	clear: left;
}

.filter {
	font-size: 14px;
	font-weight: normal;
	color: black;
	background: white;	
	width: 80px;
	padding: 5px;
}

.status {
	background: red;
	color: white;	
	padding: 3px;
}

.tip {
  color: gray;
  margin-left: 10px;
  padding-top: 50px;
  font-size: 10px;
}