body {
	margin: 10px;
	font-size: 11px;
	font-family: arial;
	text-align: center;
}

#videoDisplay {
	position: absolute;
	top: 0px;
	right: 0px;
}

#authSection {
	text-align: left;
	font-size: 13px;
}

#tabs {
	width: 100%;
}

#controlPanel {
	text-align: center;	
}

#assignments {
	height: 600px;
	text-align: left;
}

#submissions {
	height: 700px;
	text-align: left;
}

#configuration {
	height: 600px;
	text-align: left;
}

.controlButton {
	border: 1px solid lightGray;
	color: gray;
}

.configureLabel,.configureInput {
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

.configureLabel {
	text-align: right;
	width: 150px;
	padding-right: 20px;
}

div.clear {
	clear: left;
}

#filters a {
	font-size: 16px;
	font-weight: bold;
	color: black;	
	width: 80px;
	text-decoration: none;
	padding: 3px;
}

#submissionStatus {
	background: red;
	color: white;	
	padding: 3px;
}

#configurationStatus {
	background: red;
	color: white;	
	padding: 3px;
}