body {
	background: white;
	font-size: 11px;
	font-family: arial;
}

#main {
	text-align: left;
	width: 280px;
}

input {
	font-size: 11px;
	font-family: arial;
}

#message {
	color: red;
	fonts-size: 12px;
	font-style: italic;
}

#uploaderMain {
	display: none;
}

#existingVideoMain {
	display: none;
}

#submissionAsk {
	display: block;
}

.inputBox {
	width: 100%;
}

.actionButton {
	border: 0px solid black;
	background: gray;
	color: white;
	font-size: 13px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

.small {
	font-size: 9px;
	font-style: italic;
}

.medium {
	font-size: 11px;
	font-style: italic;
	color: green;
}