body {
	background: white;
	font-size: 11px;
	font-family: arial;
}

#main {
	text-align: left;
}

#callToAction {
}

#main label {
	color: black;
	font-size: 10px;
}

input {
	font-size: 11px;
	font-family: arial;
}

#message {
	color: green;
	fonts-size: 9px;
	font-style: italic;
}

#uploaderMain {
	display: none;
}

#existingVideoMain {
	display: none;
}

#submissionAsk {
	display: block;
}

.inputBox {
	width: 100%;
	border: 1px solid lightGray;
	color: gray;
}

.emailInputBox {
	width: 120px;
	border: 1px solid lightGray;
	color: gray;
	visibility: hidden;
}

.actionButton {
	border: 1px solid white;
	background: #98AFC7;
	color: white;
	font-size: 12px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

.askButton {
	border: 1px solid white;
	background: #98AFC7;
	color: white;
	font-size: 12px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
	width: 200px;
}

.small {
	font-size: 9px;
	font-style: italic;
}

.smallRed {
	font-size: 9px;
	color: red;
	font-style: italic;
}

.tip {
	font-size: 9px;
	font-style: italic;
	color: gray;
}

#processing {
	position: absolute;
	top: 0px;
	right: 0px;
	padding-left: 3px;
	padding-right: 3px;
	color: white;
	background: red;
	font-size: 11px;	
}

