body {
	background: #E3E4FA;
	font-size: 11px;
	font-family: arial;
} 
#main {
	text-align: left;
}

#main label {
	color: black;
	font-size: 10px;
}

input {
	font-size: 11px;
	font-family: arial;
}

#message {
	color: green;
	fonts-size: 9px;
	font-style: italic;
}

#youTubeLogo {
	float: right;
}

#uploaderMain {
	display: none;
	clear: right;
}

#existingVideoMain {
	display: none;
	clear: right;
}

#submissionAsk {
	display: none;
	clear: right;
}

#loginInstruction {
	text-align: left;
	background: white;
	color: gray;
	border: 1px solid gray;
	width: 80%;
	padding: 5px;
	clear: right;
	margin-top: 25px;
}

#youTubeTOS {
  font-size: 9px;
  color: gray;
}

#logInLink {
	font-size: 28px;	
}

.inputBox {
	width: 100%;
	border: 1px solid lightGray;
	color: gray;
}

.emailInputBox {
	width: 120px;
	border: 1px solid lightGray;
	color: gray;
	visibility: hidden;
}

.actionButton {
	border: 1px solid white;
	background: #98AFC7;
	color: white;
	font-size: 12px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

.actionButton:hover {
	border: 1px solid black;
	background: #98AFC7;
	color: black;
	font-size: 12px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

.askButton {
	border: 1px solid white;
	background: #98AFC7;
	color: white;
	font-size: 12px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
	width: 200px;
}

.askButton:hover {
	border: 1px solid black;
	background: #98AFC7;
	color: black;
	font-size: 12px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
	width: 200px;
}

.small {
	font-size: 9px;
	font-style: italic;
}

.smallRed {
	font-size: 9px;
	color: red;
	font-style: italic;
}

.tip {
	font-size: 9px;
	font-style: italic;
	color: gray;
}

#processing {
	position: absolute;
	top: 0px;
	right: 0px;
	padding-left: 3px;
	padding-right: 3px;
	color: white;
	background: red;
	font-size: 11px;	
}

